.Product-title{
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
    max-width: 15rem;
}
.card{
    transition: 0.3s;

}
.card:hover{
    transform: translate(0, -10px);
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
}